;
; BIND reverse data file for local loopback interface
;
$TTL    604800
@       IN      SOA     {{ dns_host }}.{{ domain_name }}. admin.{{ domain_name }}. (
                              1         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL
;
@       IN      NS      dns-server.hawkfund.kr.

23      IN      PTR     k8s-etcd-lb-01.{{ domain_name }}
24      IN      PTR     k8s-etcd-lb-02.{{ domain_name }}
254     IN      PTR     fw-frontend.{{ domain_name }}