; GENERATE BY ANSIBLE
;
; BIND data file for {{ bind_domain }}
;
$TTL    604800
@       IN      SOA     {{ inventory_hostname }}.{{ bind_domain }}. admin.{{ bind_domain }}. (
                              1         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL
;
@       IN      NS      {{ inventory_hostname }}.{{ bind_domain }}.

; SPECIFIC HOSTS NOT MANAGED BY ANSIBLE
{% for host in groups['name-servers'] %}
{{ host }}    IN  A          {{ hostvars[host].ansible_host }}
{% endfor %}

esxi-r820    IN      A       10.1.55.2
vcenter      IN      A       10.1.55.3
fw-backend   IN      A       10.1.55.254
fw-frontend  IN      A       10.1.77.254
; SPECIFIC HOSTS NOT MANAGED BY ANSIBLE