;
; BIND data file for hawkfund.kr
;
$TTL    604800
@       IN      SOA     {{ bind_host }}.{{ bind_domain }}. admin.{{ bind_domain }}. (
                              3         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL
;
@       IN      NS      {{ bind_host }}.{{ bind_domain }}.

esxi-r820.{{ bind_domain }}.            IN      A       10.1.55.2
vcenter.{{ bind_domain }}.              IN      A       10.1.55.3
fw-backend.{{ bind_domain }}.      IN      A       10.1.55.254
fw-frontend.{{ bind_domain }}.         IN      A       10.1.77.254


@       IN      A       127.0.0.1
@       IN      AAAA    ::1