//
// Do any local configuration here
//

// Consider adding the 1918 zones here, if they are not used in your
// organization
//include "/etc/bind/zones.rfc1918";
zone "hawkfund.kr" {
        type master;
        file "/etc/bind/db.hawkfund.kr";
};

zone "55.1.10.in-addr.arpa" {
        type master;
        file "/etc/bind/db.10.1.55";
};

zone "66.1.10.in-addr.arpa" {
        type master;
        file "/etc/bind/db.10.1.66";
};

zone "77.1.10.in-addr.arpa" {
        type master;
        file "/etc/bind/db.10.1.77";
};
